PORT=8000
MONGODB_URI=
JWT_SECRET=***REMOVED***
BINANCE_PAY_API_KEY=
BINANCE_PAY_SECRET_KEY=
BINANCE_PAY_BASE_URL=https://bpay.binanceapi.com
BINANCE_PAY_CURRENCY=USDT
BINANCE_PAY_FX_RATE_BS_TO_USDT=6.96
